.contactPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  gap: 2.5rem;
}
.contactPage > div {
  background-color: var(--primary-color);
  padding: 2rem;
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  transition: .3s all ease;
  border: 1.5px solid var(--border-color);
}

.contactPage > div:hover{
  transform: translateY(5px);
}
.avatar{
  width: 100px;
  height: 100px;
}

.contactPage .contactInfo h1 {
  color: var(--primary);
  font-size: 2rem;
  text-transform: uppercase;
  margin: 1rem 0rem;
}
.para {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
}

.email {
  
  box-shadow: var(--box-shadow);
  padding: 2rem;
  border-radius: 2rem;
  margin-bottom: 1.5rem;

  width: 100%;
  
  border: 1.5px solid var(--border-color);
}

.email h3 {
  color: var(--primary);
  margin-bottom: 0.75rem;
  text-transform: uppercase;
  
}

.email p{
  color: var(--primary);
}


.contactForm input, .contactForm textarea{
    width: 100%;
    box-shadow: var(--inset-box-shadow);
    min-height: 3.5rem;
    outline: none;
    border: none;
    margin-bottom: 40px;
    padding: 1rem;
    background-color: transparent;
    border-radius: var(--border-radius);
    font-size: 20px;
    color: var(--primary);

}
.contactForm input::placeholder, .contactForm textarea::placeholder{
    color: var(--primary);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    opacity: .7;
}

.contactForm input:focus, .contactForm textarea:focus{
  border: 1.5px solid var(--primary);
}

.contactForm input::-webkit-outer-spin-button,
.contactForm input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.contactForm input[type=number]{
    -moz-appearance: textfield;
    appearance: input;
}

.contactForm textarea{
    resize: none;
}

.submit{
    
    outline: none;
    border: none;
   
    padding: 1rem 2rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1rem;
    color: white;
    background-color: var(--primary);
    
}
.submit:hover{
  transform: translateX(5px);
}
.contactMessage{
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  color: var(--primary);
}

@media screen and (max-width:970px) {
    .contactPage{
        grid-template-columns: 1fr;
    }
    
}

@media screen and (max-width: 572px){
  .contactPage > div {
    padding: 1rem;
  }
  .email{
    padding: 1.5rem;
  }
  
}
