.logo {
    background-image: linear-gradient(135deg, #9ec5ff, #e1a6f8);
    -webkit-text-fill-color: transparent;
    color: var(--secondary-color);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 2rem;
    cursor: pointer;
  }