.portfolioTitle {
  margin: 0 auto;
  text-transform: capitalize;
  font-size: 5rem;
  
  color: var(--foreground);
  font-weight: 900;
  text-align: center;
  margin-top: 2rem;

  letter-spacing: 1.7px;
}
.portfolioTitle span {
  color: var(--primary);
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 2.5rem;
  margin-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.singleProject {
  padding: 10px;
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2rem;
  border: 1.5px solid var(--border-color);
  height: 100%;
  gap: 1.5rem;

  cursor: pointer;
  transition: 0.3s all ease;
}
.singleProject:hover {
  transform: translateY(5px);
}

.imageWrapper {
  
padding: 1rem;
  border-radius: 1.5rem;

  flex: 1;
  height: 100%;
  box-shadow: var(--box-shadow);
  border: 1.5px solid var(--border-color);

}
.imageWrapper img {
  object-fit: cover;
  border-radius: 1.5rem;
 
}

.projectInfo {
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  flex: 1;
}
.projectInfo h3 {
  color: var(--primary);
  font-size: 1.35rem;
  text-transform: uppercase;
  font-weight: 700;
}
.projectInfo h2 {
  font-size: 2.6rem;
  font-weight: bolder;
  color: var(--foreground);
  text-transform: capitalize;
}
.projectInfo p {
  color: var(--foreground);
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: normal;
}

.btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.view {
  outline: none;
  border: none;

  padding: 1rem 1.5rem;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: var(--border-radius);
  border-radius: 10px;

  transition: 0.3s ease-in-out;
  background-color: var(--primary);
  color: white;
  text-align: center;
  margin-bottom: 24px;
}
.view:hover {
  transform: translateY(5px);
}







  


@media screen and (max-width: 1030px) {
  .singleProject{
    flex-direction: column;
  }
  .imageWrapper{
    width: 100%;
  }
  
}

@media screen and (max-width:700px){
  .projectInfo{
    display: block;
  }
  .projectInfo p{
    font-weight: 400;
    font-size: 1rem;
  }
 
  
}

@media  screen and (max-width: 640px) {
  .grid{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .singleProject{
    padding: 1rem 1.5rem;
  }
  .portfolioTitle{
    font-size: 4rem;
  }
  
}
@media screen and (max-width: 450px){
.projectInfo h2{
  font-size: 2rem;
}
.portfolioTitle{
  font-size: 3rem;
}
  
}