.footerSocials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 1rem;
}

.footerSocials a {
  width: 50px;
  height: 50px;
  background-color: var(--background);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  cursor: pointer;
  border: 3px var(--primary);
  transition: 0.3s all ease;
}
